
.mask{    
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
.mask-search{
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    display: none;
}
.mask-search input{
    height: 50px;
}
.mask-search button{
    height: 50px;
    width: 50px;
    background-color: #2D46B9;
    color: #EDEDED;
    border: none;
}
#menu-control{
    position: absolute;
}
.header{
    height: 50px;
    background-color: #fff;
    position: relative;
}
#my-header .logo{
    width: 60px;
    text-align: center;
}
#my-header .fab{
    font-size: 36px;
    color: #2D46B9;
}
.header-menu{
    background-color: #fff;
    margin: auto;
    display: flex;
}
.header-menu li{
    display: inline-block;  
}
.header-menu a{
    display: block;
    text-decoration: none;
    padding: 30px 50px;
    color: #595260;
    font-weight: 400;
}
.header-menu li:hover,
.header-menu a:hover{
    background-color: #B2B1B9;
}
.subMenu{
    position: absolute;
    background-color: #EDEDED;
    color: #595260;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    width: 100%;
    left: 0;
    transform:perspective(100px) rotateX(90deg);
    transition: 0.5s;
    transform-origin: center top;
    opacity: 0;
}
li:hover .subMenu{
    transform:perspective(100px) rotateX(0deg);
    opacity: 1;
}
.header input{
    width: 230px;
    border-radius: 100px;
}
.header button{
    width: 50px;
    border: none;
}
.header input,
.header button{
    padding: 5px 10px;
    background-color: transparent;
    color: #171010;
}
.header input:focus,
.header button:focus{
    outline: none;
}
.header .login-btn{
    width:100px;
    background-color: #2B2B2B;
    color:#fff;
    border-radius: 20px;
}
.heaader .login-btn:hover{
    background-color: #595260;
}
.menu-btn{
    width: 40px;
    height: 40px;
    background-color: #23049d;
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    border-radius: 4px;
}
.header span{
    opacity: 0;
}
.menu-btn::before{
    content: "";
    position: absolute;
    left:2px;
    width: 36px;
    height: 2px;
    background-color: #ffdf6b;
    margin: auto;
    top: 0;
    bottom: 0;
    box-shadow: 0px 8px 0px #ffdf6b,
                0px -8px 0px #ffdf6b;
}
.header nav{
    width: 80%;
    height: calc( 100vh - 50px);
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: all 0.5s;
}
.header nav a{
    position:relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
}
#menu-control:checked ~ .header nav{
    left: 0;
    z-index: 1;
}
@media screen and (min-width: 768px){
    .menu-btn{ display: none; }
    .header{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
    }
    .header nav{               
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
    }
    .header nav a{
        border-bottom: 0px;
        color:#171010;
    }
}




@media screen and (max-width: 768px){
    .header input{
        display: none;
    }
}


@media screen and (max-width: 576px){
    .header{
        display: flex;
    }
}